.blog-single .blog__thumb {
    height: 300px;
    overflow: hidden;
}

.blog-single .blog__thumb a {
    height: 100%;
}

.blog-single .blog__thumb a img {
    height: 100%;
}

.blog-single .blog__content h5 {
    min-height: 80px;
}

.blog-single .blog__content > p {
    min-height: 115px;
    min-height: 7.1875rem;
}

.image-item {
    position: relative;
}

.image-item:hover .remove-image {
    opacity: 1;
}

.remove-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
    transition: 0.2s linear;
}

td img {
    width: 100%;
}
