:root {
    --primary-color: #fa662c;
    --popup-bg: #ffefd9;
}

* {
    letter-spacing: 0 !important;
}

/* font-size */

.fz__24 {
    font-size: 24px !important;
}
.fz__28 {
    font-size: 28px !important;
}
.fz__14 {
    font-size: 14px !important;
}

.fz__16 {
    font-size: 16px !important;
}

.fz__20 {
    font-size: 20px !important;
}
.fz__32 {
    font-size: 32px !important;
}
.fz__38 {
    font-size: 38px !important;
}
.fz__48 {
    font-size: 48px !important;
}

._active {
    color: var(--primary-color) !important;
}

.nav__logo img {
    max-width: 100px;
}

.blog-single .blog__thumb {
    height: 256px;
    overflow: hidden;
}

.blog-single .blog__thumb a {
    height: 100%;
}

.blog-single .blog__thumb a img {
    height: 100%;
}

/* .blog-single .blog__content h5 {
    min-height: 80px;
} */

.blog-single .blog__content > p {
    margin-bottom: 24px;
}

.image-item {
    position: relative;
}

.image-item:hover .remove-image {
    opacity: 1;
}

.remove-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
    transition: 0.2s linear;
}

.cl__primary {
    color: var(--primary-color) !important;
}

td img {
    width: 100%;
}

.training__slider-single__thumb {
    height: 300px;
}

.training__slider-single__thumb a {
    height: 100%;
}

.training__slider-single__thumb a img {
    height: 100%;
}

.cmn-button::before,
.cmn-button::after {
    background-color: var(--primary-color) !important;
    /* background: #FFFFFF !important; */
}

.cmn-button {
    border: 1px solid var(--primary-color) !important;
}

.cmn-button--secondary {
    background-color: #ffffff !important;
    border: 1px solid #b6b6b6;
    border-radius: 8px;
}

.banner__content-sub-title,
.section__header-sub-title,
.section__content-sub-title,
.section__header--secondary__content h5 {
    color: var(--primary-color) !important;
}

.event__single-content h3 {
    background-color: #333333 !important;
}

.about--secondary__thumb-experience {
    background-color: var(--primary-color) !important;
}

.footer {
    background-color: #ff8c36;
}

.footer a,
.footer p,
.footer i,
.footer h5 {
    color: white !important;
}

.footer input {
    background-color: transparent;
    border: 1px solid #e3e3e3;
}

.footer input::placeholder {
    color: #ffffff;
}

.footer button i {
    color: var(--primary-color) !important;
}

.footer hr {
    background-color: #ffffff;
}

.slick-arrow i {
    color: var(--primary-color) !important;
}

.slick-arrow:hover i {
    color: white !important;
}

.search_form {
    position: relative;
}

.box-search {
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;

    background-color: #e6602c !important;

    top: 200%;
}

/* modal custem */

#modelId .member-info {
    width: 90%;
}
#modelId .modal-header {
    border-bottom: none !important;
}

#modelId .member-info .member-info__header .member-info__name {
    font-weight: 700 !important;
}

#modelId .member-info .member-info__header {
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid #120d3d;
}

#modelId .member-info .member-info__desc {
    margin-top: 64px;
}

#modelId .member-info .member-info__desc p {
    margin-bottom: 36px;
}

#modelId .modal-content {
    background-color: var(--popup-bg) !important;
}

/* pop login */

#p-login .modal-content {
    border-radius: 16px;
}

#p-login .modal-body {
    background-color: var(--popup-bg) !important;
    border-radius: 16px;
    padding: 0 !important;
}

#p-login .modal-header {
    border-bottom: none !important;
}

#p-login .form-login {
    padding: 0 50px;
}

#p-login .form-login h2 {
    margin-bottom: 15px;
}

#p-login .login-fb,
#p-login .login-gg {
    display: block;

    padding: 12px;
    text-align: left;
    color: white;
    margin-bottom: 32px;
    border-radius: 8px;
}

#p-login .login-fb img,
#p-login .login-gg img {
    margin-right: 60px;
}

#p-login .login-fb {
    margin-top: 56px;
    background-color: #32519b !important;
}

#p-login .login-gg {
    background-color: #d0463b !important;
}

#p-login .form-login {
    width: 100%;
    text-align: center;
}

/*poup developing */

#p-developing {
    z-index: 9999999999999999999 !important;
}

#p-developing .modal-header {
    border-bottom: none;
}

#p-developing .modal-content {
    background-color: var(--popup-bg) !important;
    padding-bottom: 50px;
}

#p-developing .developing {
    text-align: center;
}

#p-developing .developing img {
    max-width: 300px;
    margin-bottom: 83px;
}

/*poup success */

#p-success .modal-header {
    border-bottom: none;
}

#p-success .modal-content {
    background-color: var(--popup-bg) !important;
    padding-bottom: 50px;
}

#p-success .success {
    text-align: center;
}

#p-success .success img {
    max-width: 300px;
    margin-bottom: 83px;
}

/* popup event */

#p-event .modal-header {
    border-bottom: none;
}

#p-event .modal-content {
    background-color: var(--popup-bg);
}

#p-event .event__single-thumb {
    padding: 0 50px;
}

#p-event .event__single-thumb img {
    width: 100%;
}

#p-event .event__single-content h5 {
    color: var(--primary-color);
    margin-bottom: 34px;
}

#p-event .event__single-content p {
    margin-top: 15px;
    margin: 10px 0px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
}

#p-event .event__single-content p img,
#p-event .event__single-content p i {
    width: 32px;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid #bebebe;
    border-radius: 3px;
}

/* album */

.gallery .album {
    display: block;
    margin-bottom: 24px;
    position: relative;
}

.gallery .album:hover .album__content {
    opacity: 1;
    cursor: pointer;
}

.gallery .album__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    opacity: 0;
    transition: 0.3s linear;
}

.gallery .album__content h2,
.gallery .album__content p,
.gallery .album__content p i,
.gallery .album__content h5 {
    color: white !important;
}

.gallery .album__content p {
    margin-top: 15px;
    margin: 10px 0px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
}

.gallery .album__content p i {
    width: 32px;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
}

.album__content .album__count {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.gallery .gallery__img {
    margin-bottom: 24px;
    width: 100%;
}

.gallery .gallery__img img {
    width: 100%;
}

/* xử lý show ảnh */

.my-modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .my-modal .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    outline: none;
    background-color: transparent;
    color: #fff;
} */

.my-modal .modal__content {
    animation: down 0.3s linear;
}
.my-modal .modal__content img {
    width: 100%;
    padding: 70px 0;
}

.my-modal .modal__control button i {
    color: var(--primary-color);
}
@keyframes down {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.my-modal .modal__control {
    position: absolute;
    top: 50%;
    height: 0;
    transform: translateY(-50%);
    width: 100%;
    z-index: -3;
}
.my-modal .modal__control button {
    background-color: transparent;
    color: #fff;
    font-size: 34px;
    padding: 20px;
    outline: none;
}
.my-modal .modal__control button:hover {
    color: #66676a;
}
.my-modal .modal__control .btn-pre {
    float: left;
}
.my-modal .modal__control .btn-next {
    float: right;
}

.gallery__img {
    position: relative;
    overflow: hidden;
}

.gallery__img img {
    transition: 0.4s linear;
}

.gallery__img:hover .hover {
    z-index: 1;
}

.gallery__img:hover img {
    transform: scale(1.2);
}

.gallery__img .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    z-index: -1;
}
.gallery__img .hover a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 30px;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 26px;
}

.drop-login a {
    color: #3f3f3f !important;
    font-size: 18px !important ;
    display: flex;
    gap: 22px;
}

.drop-login a span {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #d9d9d9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.drop-login a span i {
    font-size: 14px !important;
    
    margin: auto;
}
