:root {
    --primary-color: #e6602c;
}


/* font-size */


.fz__24{
    font-size: 24px !important;
}
.fz__28{
    font-size: 28px !important;
}
.fz__14{
    font-size: 14px !important;
}

.fz__16{
    font-size: 16px !important;
}

.fz__20{
    font-size: 20px !important;
}
.fz__48{
    font-size: 48px !important;
}



.nav__logo img{
    max-width: 100px;
}


.blog-single .blog__thumb {
    height: 300px;
    overflow: hidden;
}

.blog-single .blog__thumb a {
    height: 100%;
}

.blog-single .blog__thumb a img {
    height: 100%;
}

.blog-single .blog__content h5 {
    min-height: 80px;
}

.blog-single .blog__content > p {
    min-height: 115px;
    min-height: 7.1875rem;
}

.image-item {
    position: relative;
}

.image-item:hover .remove-image {
    opacity: 1;
}

.remove-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
    transition: 0.2s linear;
}

td img {
    width: 100%;
}

.training__slider-single__thumb {
    height: 300px;
}

.training__slider-single__thumb a {
    height: 100%;
}

.training__slider-single__thumb a img {
    height: 100%;
}

.cmn-button::before,
.cmn-button::after {
    background-color: var(--primary-color) !important;
    /* background: #FFFFFF !important; */
}

.cmn-button{
    border: 1px solid var(--primary-color) !important;
}

.cmn-button--secondary {
    background-color: #ffffff !important;
    border: 1px solid #b6b6b6;
    border-radius: 8px;
}

.banner__content-sub-title,
.section__header-sub-title,
.section__content-sub-title,
.section__header--secondary__content h5 {
    color: var(--primary-color) !important;
}

.event__single-content h3 {
    background-color: #333333 !important;
}

.about--secondary__thumb-experience{
    background-color: var(--primary-color) !important;
}


.footer{
    background-color: rgba(12, 169, 64, 0.05);
}

.footer a,
.footer p,
.footer i,
.footer h5 {
    
    color: #000000 !important;
}

.footer input{
    background-color: transparent;
    border: 1px solid #E3E3E3;
}

.footer button{
    background-color: var(--primary-color);
    color: white;
}


.slick-arrow i{
    color: var(--primary-color) !important;
}


.slick-arrow:hover i{
    color: white !important;
}


.search_form{
    position: relative;
}

.box-search{
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
    
    background-color: #e6602c !important;

    top: 200%;
}